<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" /></head>
  <body>
    <h2><%=h @user.name %> 您好</h2>
    <p>趣投网已经为您更新了密码。</p>
    <p>新的密码是： <%= @user.password %></p>
    <p>当您成功登录趣投网后，您可以在控制面板修改您的密码。</p>
    <br/>
    <p>赶快登录趣投网吧： <%=h @url %></p>
    <p>趣投网祝您成功的实现您的目标！</p>
    <br/>
    <br/>
    <br/>
    <p>趣投网</p>
  </body>
</html>
