<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" /></head>
  <body>
    <h2>您好</h2>
    <p>1点1滴欢迎您的加入，您可以建立一个短期个人目标，告诉大家你的进展，得到大家的鼓励，完成目标时，用你自己“特殊”的方式感谢你身边的人或是给于你鼓励的人，和他们成为知心的朋友...</p>
    <br/>
    <p>赶快1点1滴吧： <%= @url %></p>
    <p>祝您成功的实现您的目标！</p>
    <br/>
    <br/>
    <br/>
    <p>1点1滴</p>
  </body>
</html>
