<span id="reward">
<fieldset>
<%= label 'reward_conditions','', "犒赏条件" %>
<%= text_field 'reward_conditions','',:id=>random_id_for_reward,:class=>"validate[minSize[6],maxSize[16]]",:onfocus=>"if(this.value == ''){$(this).validationEngine('showPrompt', '例如：如果我10天不吸烟', 'pass','topRight',true)}" %>
</fieldset>
<fieldset>
<%= label 'rewards',"", "犒赏内容" %>
<%= text_area 'rewards', "",:id=>random_id_for_reward,:class=>"validate[minSize[10]]",:onfocus=>"if(this.value == ''){$(this).validationEngine('showPrompt', '例如：给我女儿买一个玩具', 'pass','topRight',true)}" %>
</fieldset>
</span>
