<span id="reward">
<fieldset>
<%= label 'reward_conditions','[]', "犒赏条件" %>
<%= text_field 'reward_conditions','[]',:class=>"validate[minSize[8]]" %>
</fieldset>
<fieldset>
<%= label 'rewards',"[]", "犒赏内容" %>
<%= text_area 'rewards', "[]",:class=>"validate[minSize[10]]" %>
</fieldset>
</span>
