
<h2>关于我们</h2>
 <div id="text-content">

      <p>于是才想起有这回事，四年前一次错误的续费，直接买到了2011年4月2日。我是2006年4月2日购买的Pro，然后2007年4月2日续费。本打算一次购买两年，但鬼使神差提交了两个订单，并且都付款成功。当时感觉无比遥远的事情，居然马上就到了。</p>

      <p>更悲剧的还在后头，大概2007年6月上旬，天朝放出GFW直接把Flickr的照片都屏蔽掉了。对于我们重度用户来说无疑是灾难性消息，我当时的反映是掰指头数还有多少个月到期，老子刚买了四年啊。后边就是陆陆续续正与邪的较量，各种方案都有，时不时又解封一段时间，但毕竟很麻烦。导致的结果，国内用户急剧下降。</p>

      <p>往后用的的频率逐渐下降，并且之前的依赖感和安全感尽失。依赖感是用户需求层面产生的，而安全感则是对国外产品的放心，以及对雅虎实力的认可，国产货这点我相信是很差的。鉴于从事互联网产品，以及UGC平台典范的关注，所以时不时逛逛过来学习，偶尔也找图片，这点在值得长期关注的网站里提过。几年下来，获益良多。</p>

      <p>必须承认，到目前Flickr还是很优秀的产品，雅虎并没有改变它的本质，只是放缓了前进的脚步而已。前几天看到新闻，说Flickr团队的产品主管因与雅虎高层战略意图不统一准备离职，忆起Flickr两位创始人早就离职了。所以，好的产品被大公司收购后，对产品本身的发展并不是好事，对用户来说更不一定是好事。</p>

      <p>个人认为，Flickr在管理照片方面，不如有客户端软件支持的Picasa。但如在图库质量角度而言，Flickr比Picasa强不知多少倍，这个门槛也是类似产品很难超越的。对我而言，先做好备份准备，但如没有其他特殊需求，我想不会再续费了。</p>

        <p>更悲剧的还在后头，大概2007年6月上旬，天朝放出GFW直接把Flickr的照片都屏蔽掉了。对于我们重度用户来说无疑是灾难性消息，我当时的反映是掰指头数还有多少个月到期，老子刚买了四年啊。后边就是陆陆续续正与邪的较量，各种方案都有，时不时又解封一段时间，但毕竟很麻烦。导致的结果，国内用户急剧下降。</p>

      <p>往后用的的频率逐渐下降，并且之前的依赖感和安全感尽失。依赖感是用户需求层面产生的，而安全感则是对国外产品的放心，以及对雅虎实力的认可，国产货这点我相信是很差的。鉴于从事互联网产品，以及UGC平台典范的关注，所以时不时逛逛过来学习，偶尔也找图片，这点在值得长期关注的网站里提过。几年下来，获益良多。</p>

      <p>必须承认，到目前Flickr还是很优秀的产品，雅虎并没有改变它的本质，只是放缓了前进的脚步而已。前几天看到新闻，说Flickr团队的产品主管因与雅虎高层战略意图不统一准备离职，忆起Flickr两位创始人早就离职了。所以，好的产品被大公司收购后，对产品本身的发展并不是好事，对用户来说更不一定是好事。</p>

      <p>个人认为，Flickr在管理照片方面，不如有客户端软件支持的Picasa。但如在图库质量角度而言，Flickr比Picasa强不知多少倍，这个门槛也是类似产品很难超越的。对我而言，先做好备份准备，但如没有其他特殊需求，我想不会再续费了。</p>

        <p>更悲剧的还在后头，大概2007年6月上旬，天朝放出GFW直接把Flickr的照片都屏蔽掉了。对于我们重度用户来说无疑是灾难性消息，我当时的反映是掰指头数还有多少个月到期，老子刚买了四年啊。后边就是陆陆续续正与邪的较量，各种方案都有，时不时又解封一段时间，但毕竟很麻烦。导致的结果，国内用户急剧下降。</p>

      <p>往后用的的频率逐渐下降，并且之前的依赖感和安全感尽失。依赖感是用户需求层面产生的，而安全感则是对国外产品的放心，以及对雅虎实力的认可，国产货这点我相信是很差的。鉴于从事互联网产品，以及UGC平台典范的关注，所以时不时逛逛过来学习，偶尔也找图片，这点在值得长期关注的网站里提过。几年下来，获益良多。</p>

      <p>必须承认，到目前Flickr还是很优秀的产品，雅虎并没有改变它的本质，只是放缓了前进的脚步而已。前几天看到新闻，说Flickr团队的产品主管因与雅虎高层战略意图不统一准备离职，忆起Flickr两位创始人早就离职了。所以，好的产品被大公司收购后，对产品本身的发展并不是好事，对用户来说更不一定是好事。</p>

      <p>个人认为，Flickr在管理照片方面，不如有客户端软件支持的Picasa。但如在图库质量角度而言，Flickr比Picasa强不知多少倍，这个门槛也是类似产品很难超越的。对我而言，先做好备份准备，但如没有其他特殊需求，我想不会再续费了。</p>

      <p>最后得感慨下，原来重复提交订单并付款的恶习已经是第二次，以后真得注意。</p>
 </div>
