
<h2>关于1点1滴</h2>
 <div id="text-content">
    <%= image_tag "aboutus.jpg", :alt=>"关于1点1滴" %>
    <p>1点1滴是一个以个人目标为基础的社交网站。</p>
    <p>如果你有一个未完成的个人目标，并且想好了目标成功后给自己的"犒赏"，你可以马上在1点1滴上建立这个目标，得到其他网友和你的粉丝的支持，这样不但能让你有一个存放你个人目标的地方（而不是写在纸上），而且也可以把网友和你粉丝对该目标的支持做为一种驱使你完成这个目标的"动力"。</p>
    <p>每当你的目标有一定进展的时候，记得在进展栏里给关心和支持你的网友留下你的更新，你也可以把他们加为你的好友或是成为他们的粉丝。</p>
    <p>当你完成了你的目标的时候，你可以选择目标是成功还是失败, 并根据你先前设置好的犒赏条件进行"奖赏"。</p>
                                                                      
    <p>每当你完成一个个人目标的时候，你会有更多的粉丝和好友，发展出属于你自己的社交圈子。</p>
                                                                                      
    <p>我们希望通过1点1滴可以让大家更有效的分享和完成自己的个人目标，而不是写过等于做过，到头来是竹篮打水一场空。</p>
                                                                                                 
    <p>期待...</p>
  </div>
