<h2>联系我们</h2>
 <div id="text-content">

   <p>如果您对1点1滴有任何意见或者建议，请发邮件到我们的邮箱，1点1滴团队愿意倾听您的声音。</p>
   <p>有了您的理解与支持，相信我们会做的更好！</p>
   <p>邮件地址：1dian1di [at] 1dian1di [dot] com</p>
   <p>新浪围脖：<a href="http://t.sina.com.cn/1dian1di" target="_blank">新浪围脖</a></p>
 </div>
