<h2>修改目标内容</h2>

<%= form_for(@project,{},:html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "form", :object => f %>
  <p>
    <%= f.submit '确定' %>
  </p>
<% end %>
