<%= render :partial=>"project_detail_header"%>

<table width="100%" border="0" summary="你所创建的目标" class="myTable">
  <% if @project.supporters.blank? %>
    目前还没人支持这个目标，要不要<%= link_to "支持",support_this_project_projects_url(:project_id=>@project.id),:remote=>!session[:current_user_id].blank? %>一下呢？
  <% else %>
  <% @project.supporters.each do |supporter| %>
  <tr id="supporter_row_<%= supporter.id%>">
    <%= render :partial=>'supporter_row', :locals=>{:supporter => supporter}%>
  </tr>
  <% end %>
  <% end %>
</table>

<div class="clear"></div>
