<%= render :partial=>"project_detail_header"%>

<table width="100%" border="0" summary="你所创建的目标" class="myTable">
  <% @project.supporters.each do |supporter| %>
  <tr id="supporter_row_<%= supporter.id%>">
    <%= render :partial=>'supporter_row', :locals=>{:supporter => supporter}%>
  </tr>
  <% end %>
</table>

<div class="clear"></div>
