$("#siteMessage").slideToggle("slow");
var n = parseInt($("#supporter-white-number").text(), 10);
$("#supporter-white-number").html(n+1);
$("#supporter-number").html(n+1);
$("#support-btn").html("<a href=\"#\">谢谢支持</a>");
$('#siteMessage').fadeOut(10000);
