<h2>修改我的资料</h2>
<% unless flash[:notice].blank? %>
<div id="siteMessage" style="">
    <%= flash[:notice]%>
</div>
<% end %>

<%= form_for @user,:html=>{:id=>"edit_user_form",:autocomplete=>"off", :multipart => true } do |f| %>
  <%= render :partial => "form", :object => f %>
  <%= f.submit "修改",:disable_with=>"修改中..." %>
<% end %>

<script type="text/javascript">
  $("#edit_user_form").validationEngine();
  $('#siteMessage').fadeOut(3000);
</script>
