<h2>忘记自己的密码了吗？</h2>

<%= form_for 'user', :url=>password_recover_url,:html=>{:id=>"lost_password_form"} do |f| %>
    <fieldset>
      <%= f.label '请填写你的邮箱地址：' %>
      <%= f.text_field :email,:class=>"validate[required,custom[email]]" %>
    </fieldset>
    <fieldset>
      <p>我们会生成一个新密码并发送到您的邮箱。</p>
    </fieldset>
  <%= f.submit "确定"  %>
<% end %>
<script type="text/javascript">
  $("#lost_password_form").validationEngine();
</script>
