<%= render :partial=>"user_show_header" %>
  <div id="tab_content">
	<% unless @projects.blank? %>
	  <!-- display my projects-->
        <%= render :partial=> 'projects' %>
    <% else %>
        <div>目前还没有创建目标，要不要<%= link_to "浏览", root_url %>其他人的目标<% if session[:current_user_id].eql?(@user.id) %>或者<%= link_to "创建",new_goal_url %>自己的目标呢？<% end %></div>
    <% end %>
  </div>
