<div id="city-navigation">
  <ul>
    <% province_list.each do |p| %>
      <li><%= link_to p, goals_url(:location=>p.to_s),{:class=> cycle("marginRight20","marginRight20","marginRight20","last")} %></li>
    <% end %>
  </ul>
  <div class="clear"></div>
</div><!-- end of category navigation-->
