<div id="city-navigation">
  <ul>
      <% project_locations = Project.get_all_locations %>
      <% project_locations.each_with_index do |project, index| %>
        <% if ((index+1)%4 == 0) %>
          <li><a href="<%= projects_url(:location=>project.location) %>" class="marginRight20"><%= project.location %></a></li>
        <% else %>
          <li><a href="<%= projects_url(:location=>project.location) %>" class="last"><%= project.location %></a></li>
        <% end %>
      <% end %>
      </ul>
      <div class="clear"></div>
</div><!-- end of category navigation-->
