<div id="city-navigation">
  <ul>
    <% project_locations = Project.get_all_locations %>
    <% project_locations.each do |project| %>
      <li><%= link_to project.location, projects_url(:location=>project.location),{:class=> cycle("marginRight20","marginRight20","marginRight20","last")} %></li>
    <% end %>
  </ul>
  <div class="clear"></div>
</div><!-- end of category navigation-->
