<div id="footer" class="grid_12">
    2011 &copy; <a href="http://www.1dian1di.com">1点1滴</a> - <a href="http://t.sina.com.cn/1dian1di" target="_blank">新浪围脖</a> - 1dian1di [at] 1dian1di [dot] com
</div>
<div class="clear"></div>
