<!DOCTYPE html>
<html class="no-js">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>趣投 - 把创意变成现实</title>
<link href="css/master.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="css/grids.css" rel="stylesheet" type="text/css" media="screen"/>
<script src="./js/jquery-1.4.2.min.js"></script>
<script src="./js/modernizr-1.5.min.js"></script>
<!--[if lt IE 9]>
<script src="./js/DOMAssistant-2.0.min.js"></script>
<script src="./js/selectivizr.js"></script>
<![endif]-->
</head>

<!--[if lt IE 7 ]> <body class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <body class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <body class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <body class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <body> <!--<![endif]-->

<div class="container_12">
    <div class="grid_7" id="main-content">
       <div id="breadcrumb">
       		<ul>
            	<li><a href="#">返回主页</a></li>
            </ul>
       </div><!-- end of breadcrumb-->
       
       		<div id="personal-intro">
                <h1>夏涛的主页</h1>
                <p>2010年1月31日到今天，年度淘宝消费支付宝查询"支出：71159.89元"，淘宝后台查询结果为86页，另外也有"收入：57353.50元"。伴随一次次的下单，直冲四颗钻的购买记录，感觉有点越来越离不开。2010年1月31日到今天，年度淘宝消费支付宝查询"支出：71159.89元"，淘宝后台查询结果为86页，另外也有"收入：57353.50元"。伴随一次次的下单，直冲四颗钻的购买记录，感觉有点<a href="#" target="_blank">越来越离</a>不开。</p>
            </div>
            
			<h2>创建的项目</h2>
            <table width="100%" border="0" summary="你所创建的项目" class="myTable">
              <tr>
                <td class="td-titles"><a href="#">项目名称</a></td>
                <td>100关注</td>
                <td>30天剩余</td>
                <td>4000次浏览</td>
                
              </tr>
              <tr>
                <td class="td-titles"><a href="#">项目名称</a></td>
                <td>100关注</td>
                <td>30天剩余</td>
                <td>4000次浏览</td>
                
              </tr>
            </table>
            
            <h2>关注的项目</h2>
            <table width="100%" border="0" summary="你所关注的项目" class="myTable">
              <tr>
                <td class="td-titles"><a href="#">项目名称</a></td>
                <td>100关注</td>
                <td>30天剩余</td>
                <td>4000次浏览</td>
              </tr>
              <tr>
                <td class="td-titles"><a href="#">项目名称</a></td>
                <td>100关注</td>
                <td>30天剩余</td>
                <td>4000次浏览</td>
              </tr>
              <tr>
                <td class="td-titles"><a href="#">项目名称</a></td>
                <td>100关注</td>
                <td>30天剩余</td>
                <td>4000次浏览</td>
              </tr>
              <tr>
                <td class="td-titles"><a href="#">项目名称</a></td>
                <td>100关注</td>
                <td>30天剩余</td>
                <td>4000次浏览</td>
              </tr>
              <tr>
                <td class="td-titles"><a href="#">项目名称</a></td>
                <td>100关注</td>
                <td>30天剩余</td>
                <td>4000次浏览</td>
              </tr>
              <tr>
                <td class="td-titles"><a href="#">项目名称</a></td>
                <td>100关注</td>
                <td>30天剩余</td>
                <td>4000次浏览</td>
              </tr>
              <tr>
                <td class="td-titles"><a href="#">项目名称</a></td>
                <td>100关注</td>
                <td>30天剩余</td>
                <td>4000次浏览</td>
              </tr>
              <tr>
                <td class="td-titles"><a href="#">项目名称</a></td>
                <td>100关注</td>
                <td>30天剩余</td>
                <td>4000次浏览</td>
              </tr>
              <tr>
                <td class="td-titles"><a href="#">项目名称</a></td>
                <td>100关注</td>
                <td>30天剩余</td>
                <td>4000次浏览</td>
              </tr>
              <tr>
                <td class="td-titles"><a href="#">项目名称</a></td>
                <td>100关注</td>
                <td>30天剩余</td>
                <td>4000次浏览</td>
              </tr>
              <tr>
                <td class="td-titles"><a href="#">项目名称</a></td>
                <td>100关注</td>
                <td>30天剩余</td>
                <td>4000次浏览</td>
              </tr>
              <tr>
                <td class="td-titles"><a href="#">项目名称</a></td>
                <td>100关注</td>
                <td>30天剩余</td>
                <td>4000次浏览</td>
              </tr>
              <tr>
                <td class="td-titles"><a href="#">项目名称</a></td>
                <td>100关注</td>
                <td>30天剩余</td>
                <td>4000次浏览</td>
              </tr>
              <tr>
                <td class="td-titles"><a href="#">项目名称</a></td>
                <td>100关注</td>
                <td>30天剩余</td>
                <td>4000次浏览</td>
              </tr>
              <tr>
                <td class="td-titles"><a href="#">项目名称</a></td>
                <td>100关注</td>
                <td>30天剩余</td>
                <td>4000次浏览</td>
              </tr>
              <tr>
                <td class="td-titles"><a href="#">项目名称</a></td>
                <td>100关注</td>
                <td>30天剩余</td>
                <td>4000次浏览</td>
              </tr>
              
            </table>
            
            <div id="pagination" class="grid_3 prefix_2 alpha">
            	<ul>
                	<li><a href="#" id="prevPage">&lt;&lt; 上一页</a></li>
                    <li><a href="#" id="nextPage">下一页 &gt;&gt;</a></li>
                </ul>
            </div>
            

      
    </div> <!-- end of main-content-->
    
    <div class="grid_4 prefix_1" id="side-content">
   	  	<div id="banner">
            <div id="search">
              <form>
                <fieldset>
                  <input type="text" id="mainSearchField"  value="搜索项目">
                </fieldset> 
              </form>
            </div><!-- end of search-->
            
            <h1>趣投</h1>
            <h2>把你的创意变成现实<br>
            <span class="big-numbers">267</span>个趣投项目
            </h2>

        	<ul id="user-navigation">
            	<li><a href="#">项目主页</a></li>
                <li><a href="#">创立项目</a></li>
                <li><a href="#">修改资料</a></li>
                <li><a href="#">退出系统</a></li>
          	</ul>
                        
        </div><!-- end of banner-->
        
        <div id="main-navigation">
       	  	<div class="grid_2 alpha">
                <ul>
                    <li><a href="#">推荐项目</a></li>
                    <li><a href="#">热门项目</a></li>
                    <li><a href="#">最新项目</a></li>
                </ul>
            </div>
            <div class="grid_2 omega">
            	<ul>
                    <li><a href="#">关于我们</a></li>
                    <li><a href="#">联系我们</a></li>
                    <li><a href="#">新浪围脖</a></li>
                </ul>
            </div>
            <div class="clear"></div>
          </div><!-- end of main navigation-->
          
          <div id="city-navigation">
       	  		<ul>
                    <li><a href="#" class="marginRight20">杭州</a></li>
                    <li><a href="#" class="marginRight20">上海</a></li>
                    <li><a href="#" class="marginRight20">黑龙江</a></li>
                    <li><a href="#" class="last">深圳</a></li>
                    <li><a href="#" class="marginRight20">大连</a></li>
                    <li><a href="#" class="marginRight20">广州</a></li>
                    <li><a href="#" class="marginRight20">北京</a></li>
                    <li><a href="#" class="last">四川</a></li>
                    <li><a href="#" class="marginRight20">杭州</a></li>
                    <li><a href="#" class="marginRight20">上海</a></li>
                    <li><a href="#" class="marginRight20">黑龙江</a></li>
                    <li><a href="#" class="last">深圳</a></li>
                    <li><a href="#" class="marginRight20">大连</a></li>
                    <li><a href="#" class="marginRight20">广州</a></li>
                    <li><a href="#" class="marginRight20">北京</a></li>
                    <li><a href="#" class="last">四川</a></li>
                    <li><a href="#" class="marginRight20">杭州</a></li>
                    <li><a href="#" class="marginRight20">上海</a></li>
                    <li><a href="#" class="marginRight20">黑龙江</a></li>
                    <li><a href="#" class="last">深圳</a></li>
                    <li><a href="#" class="marginRight20">大连</a></li>
                    <li><a href="#" class="marginRight20">广州</a></li>
                    <li><a href="#" class="marginRight20">北京</a></li>
                    <li><a href="#" class="last">四川</a></li>
                </ul>
                <div class="clear"></div>
          </div><!-- end of category navigation-->
          
          
          <div id="category-navigation">
       	  		<ul>
                    <li><a href="#">吸烟</a></li>
                    <li><a href="#">减肥</a></li>
                    <li><a href="#">围脖</a></li>
                    <li><a href="#">跑步</a></li>
                    <li><a href="#">健身</a></li>
                    <li><a href="#">减肥</a></li>
                    <li><a href="#">电视</a></li>
                    <li><a href="#">网络</a></li>
                    <li><a href="#">吸烟</a></li>
                    <li><a href="#">减肥</a></li>
                    <li><a href="#">围脖</a></li>
                    <li><a href="#">摄影</a></li>
                    <li><a href="#">吸烟</a></li>
                    <li><a href="#">减肥</a></li>
                    <li><a href="#">围脖</a></li>
                    <li><a href="#">摄影</a></li>
                </ul>
                <div class="clear"></div>
          </div><!-- end of category navigation-->
        
    </div><!-- end of right hand side col-->
    
    <div id="footer" class="grid_12">
    	2011&copy;趣投
    </div>
    <div class="clear"></div>
	
</div><!-- end of container 12-->
</body>
</html>
