<!DOCTYPE html>
<html class="no-js">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>趣目 - 实现你的目标</title>
<link href="css/master.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="css/grids.css" rel="stylesheet" type="text/css" media="screen"/>
<script src="./js/jquery-1.4.2.min.js"></script>
<script src="./js/modernizr-1.5.min.js"></script>
<!--[if lt IE 9]>
<script src="./js/DOMAssistant-2.0.min.js"></script>
<script src="./js/selectivizr.js"></script>
<![endif]-->
</head>

<!--[if lt IE 7 ]> <body class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <body class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <body class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <body class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <body> <!--<![endif]-->

<div class="container_12">
    <div class="grid_7" id="main-content">
       <div id="breadcrumb">
       		<ul>
            	<li><a href="#">主页</a></li>
                <li><a href="#">艺术</a></li>
            </ul>
       </div><!-- end of breadcrumb-->
       
       <div class="grid_5 alpha" id="project-title">
			<h2>项目名称</h2>
       </div>
       <div class="grid_2 omega" id="follow-project">
       		<div class="button">
            	&nbsp;
            </div>
       </div>
       
        <div class="grid_4 alpha" id="project-navigation">
        	<ul>
            	<li><a href="index.html">项目主页</a></li>
                <li><a href="detail-process.html">项目进展(12)</a></li>
                <li><a href="#">项目留言(20)</a></li>
            </ul>
       	</div>
        
        <div class="grid_3 omega" id="project-meta-detail">
        	<ul class="project-meta">
            	<li>夏涛</li>
                <li>山东</li>
                <li>摄影</li>
            </ul>
        </div>
        <div class="clear"></div>
        
        <img src="images/project-video-image-holder.jpg" alt="place hoder">
        
        <div id="project-details">
        	<p>2010年1月31日到今天，年度淘宝消费支付宝查询"支出：71159.89元"，淘宝后台查询结果为86页，另外也有"收入：57353.50元"。伴随一次次的下单，直冲四颗钻的购买记录，感觉有点越来越离不开淘宝了。因为慢慢我发现，淘宝上聚焦了很大群体的专业玩家，淘宝正好满足了这类人群"展示、交易"的需求。
            
            <p>在淘宝上可以查到一些Google里搜索不到的信息，并且还有懂行的活人可以随便问，现场版"淘宝知道"，比场外版"百度知道"更靠谱。我不喜欢与"生意人"交易，至少也得懂点专业知识，否则只有金钱上的数字交易，没有玩家之间的信息交流。</p>
            
            
           
        </div>
       
    </div> <!-- end of main-content-->
    
    <div class="grid_4 prefix_1" id="side-content">
   	  	<div id="banner">
            <div id="search">
              <form>
                <fieldset>
                  <input type="text" id="mainSearchField"  value="搜索项目">
                </fieldset> 
              </form>
            </div><!-- end of search-->
            
            <h1>趣目</h1>
            <h2>实现你的目标<br>
            <span class="big-numbers">267</span>个趣目项目
            </h2>

        	<ul id="user-navigation">
            	<li><a href="#">趣目主页</a></li>
                <li><a href="#">创建目标</a></li>
                <li><a href="#">登录</a></li>
                <li><a href="#">注册</a></li>
          	</ul>
                        
        </div><!-- end of banner-->
        
        <div id="rewards-content">
        	<ul id="project-stats">
                <li>支持者 <span class="white-number">954</span> 人</li>
                <li>剩余 <span class="white-number">25</span> 天</li>
            </ul>
            
            <div id="support-btn">
            	<a href="#">我来支持你</a>
            </div>
            
            <div id="rewards-list">
				<h2 class="white-number">犒赏</h2>
				<dl>
                    <dt>如果1个月不抽烟</dt>
                    <dd>我会给我女儿买一辆自行车</dd>
                    <dt>如果3个月不抽烟</dt>
                    <dd>我会给我老婆买一个她非常喜欢但是有舍不得买的戒指</dd>
                    <dt>如果5个月不抽烟</dt>
                    <dd>我给所以支持我的朋友谢一封电子邮件感谢信</dd>
                    <dt>如果6个月不抽烟</dt>
                    <dd>把以前用来买香烟的钱，请全家出去大吃一顿。</dd>
                </dl>
            </div><!-- rewards-list --> 
            
        </div><!-- rewards-content -->         
        
    </div><!-- end of right hand side col-->
    
    <div id="footer" class="grid_12">
    	2011&copy;趣投
    </div>
    <div class="clear"></div>
	
</div><!-- end of container 12-->
</body>
</html>
